body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff7f8;
    color: #333;
}

#loading-screen {
    background: #fff7f8;
    color: #333;
}

.hero-container { 
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

#button_post {
    position: relative;
}

.resource {
    position: relative;
    margin-top: 10px;
}

#map {
    height: 600px;  
    width: 100%;  
}

.modal-card-body {
    height: 600px;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff7f8;
    color: #333;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1280px) {
    .container {
        max-width: inherit;
        width: inherit;
    }
}

@media screen and (min-width: 1088px) {
    .container {
        max-width: inherit;
        width: inherit;
    }
}