body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff7f8;
    color: #333;
}

#loading {
    background-color: #fff7f8;
    color: #333;
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

.hero-container { 
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

#button_post {
    position: relative;
}

.resource {
    position: relative;
    margin-top: 10px;
}

#map {
    height: 600px;  
    width: 100%;  
}

.modal-card-body {
    height: 600px;
}

/* Dropdown filter for map */
.dropdown-check-list {
    display: inline-block;
}
.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
}
.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}
.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}
.dropdown-check-list ul.items li {
    list-style: none;
}
.dropdown-check-list.visible .anchor {
    color: #0094ff;
}
.dropdown-check-list.visible .items {
    display: block;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff7f8;
    color: #333;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1280px) {
    .container {
        max-width: inherit;
        width: inherit;
    }
}

@media screen and (min-width: 1088px) {
    .container {
        max-width: inherit;
        width: inherit;
    }
}

@media screen and (max-width: 800px) {
    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }
    .hero-container {
        flex-direction: column;
        align-items: center;
    }
}